.calculator{
    border:2px solid #ccc;
    padding: 30px;
    width:320px;
    max-width: 90%;
    
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    

}

.container{
    text-align:center;
}

.display{
    width:100%;
    height: 30px;
    margin-bottom:10px;
    text-align: right;
    border:2px solid #0a0909;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
button{
    padding: 20px;
    font-size: 18px;
    
}

button:active {
    transform: scale(0.95);
    background-color: #bbb;
}